* {
   box-sizing: border-box;
}

:root {
   --primary-color: #ffb900;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: "Poppins", sans-serif;
}

/* Common */

.beark-all {
   word-break: break-all;
}

.line-clamp {
   display: -webkit-box;
   -webkit-line-clamp: var(--line-clamp, 1);
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.line-clamp.line-2 {
   --line-clamp: 2;
}

a {
   text-decoration: none;
}

.heading {
   color: #171100;
   font-family: Sen;

   font-weight: 700;
   letter-spacing: -1.16px;
}

.heading.lv1 {
   font-size: 5.8rem;
   line-height: 1.17241;
}

.heading.lv2 {
   font-size: 3.8rem;
   line-height: 1.26316; /* 126.316% */
}

.btn {
   display: inline-block;
   min-width: 118px;
   text-align: center;
   line-height: 50px;
   padding: 0 16px;
   color: #fff;
   font-family: Poppins;
   font-size: 1.6rem;
   font-weight: 600;
   border-radius: 999px;
   background: #171100;
}

.btn:hover {
   cursor: pointer;
   opacity: 0.9;
}

.main-content {
   width: 1170px;
   max-width: calc(100% - 48px);
   margin-left: auto;
   margin-right: auto;
}
/* ========= Header ========= */
.header {
   background-color: #fffcf4;
}

.header.fixed {
   position: sticky;
   top: -24px;
   z-index: 1;
}

.header .body {
   padding: 36px 0 8px;
   align-items: center;
   display: flex;
}

.header .nav {
   margin-left: auto;
}

.nav ul {
   display: flex;
}

.nav a {
   padding: 8px 21px;
   color: #5f5b53;
   font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
   position: relative;
   color: #171100;
   font-size: 1.6rem;
   text-shadow: 1px 0 0 currentColor;
   /* font-weight: 600; */
}

.nav li.active a::after {
   position: absolute;
   bottom: 6px;
   left: 21px;
   content: "";
   display: block;
   width: 12px;
   height: 2px;
   border-radius: 1px;
   background: #171100;
}

.action {
   margin-left: 49px;
}

.action .sign-up-btn {
   min-width: 140px;
}

/* ========== Hero =========== */
.hero {
   padding: 56px 0 65px;
   background-color: #fffcf4;
}
.hero .body {
   display: flex;
}

/* ============= Hero left ============== */
.hero .media-block {
   position: relative;
   width: 48%;
}

.hero .media-block .hero-img {
   width: 82%;
   height: 685px;
   object-fit: cover;
   border-radius: 20px;
   vertical-align: bottom;
   /* display: block; */
}

.hero .hero-summary {
   width: 270px;
   padding: 24px;
   position: absolute;
   bottom: 48px;
   right: 0;
   border-radius: 12px;
   background: #fff;
   box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
   display: flex;
   align-items: center;
}

.hero-summary .item + .item {
   margin-top: 22px;
}
.hero-summary .icon {
   width: 48px;
   height: 48px;
   background-color: #fff9e8;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.hero-summary .item:nth-of-type() .icon {
   background-color: #fcefff;
}

.hero-summary .item:nth-of-type() .icon {
   background-color: #ebeaff;
}

.hero-summary .info {
   margin-left: 16px;
}

.hero-summary .label {
   color: #5f5b53;
   font-size: 1.4rem;
   line-height: 1.85714;
}

.hero-summary .title {
   color: #171100;
   font-size: 1.8rem;
   font-weight: 600;
   line-height: 1.66667;
}
/* ============= Hero right =============== */
.hero .content-clock {
   width: 52%;
   padding: 64px 0 0 130px;
}

.hero .desc {
   color: #5f5b53;
   font-size: 1.8rem;
   line-height: 1.6667;
   margin: 28px 0 0;
}

.hero .cta-group {
   display: flex;
   align-items: center;
   margin: 38px 0 48px;
}

.hero .hero-cta {
   min-width: 180px;
   line-height: 64px;
   border-radius: 32px;
   background: var(--primary-color);
}

.hero .watch-video {
   margin-left: 28px;
   border: none;
   display: flex;
   align-items: center;
   background-color: #fffcf4;
   cursor: pointer;
}

.cta-group .watch-video .icon {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #fff;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.cta-group .watch-video span {
   color: #171100;
   font-size: 1.8rem;
   font-weight: 600;
   line-height: 1.6667;
   margin-left: 14px;
}

.hero .stats strong {
   color: #171100;
   font-family: Sen;
   font-size: 4.4rem;
   font-weight: 700;
   line-height: 1.22727;
   margin-right: 8px;
}

.hero .stats strong + strong {
   margin-left: 28px;
}
.hero .desc.stats {
   margin-top: 8px;
}

/* ========== Popular ========= */

.popular {
   padding: 65px 0;
   margin-top: 135px;
}

.popular-top {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.popular-top .desc {
   width: 458px;
   margin-top: 16px;
   color: #5f5b53;
   font-size: 1.8rem;
   line-height: 1.66667;
}

.popular-top .controls {
   display: flex;
   gap: 18px;
}

.popular-top .control-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid var(--primary-color);
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: transparent;
   color: var(--primary-color);
}

.popular-top .control-btn:hover {
   background-color: var(--primary-color);
   color: #fff;
   cursor: pointer;
}

.courses-list {
   margin-top: 55px;
   display: flex;
   gap: 30px;
}

.courses-list .course-item {
   flex: 1;
   border-radius: 12px;
   border: 1px solid #e2dfda;
   background: #fff;
}

.courses-list .course-item:hover {
   box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
   border-color: transparent;
}

.courses-list .course-item .thumb {
   width: calc(100% + 2px);
   height: 278px;
   object-fit: cover;
   border-radius: 12px 12px 0px 0px;
   background: url(<path-to-image>) lightgray 50% / cover no-repeat;
   margin-left: -1px;
   margin-top: -1px;
}

.courses-list .course-item .info {
   padding: 16px 22px 22px;
}

.courses-list .course-item .head,
.courses-list .course-item .foot {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.courses-list .course-item .title a {
   color: #171100;
   font-size: 1.8rem;
   font-weight: 600;
   line-height: 1.66667;
   padding-right: 6px;
}

.courses-list .course-item .rating {
   display: flex;
   align-items: center;
}

.courses-list .rating span {
   color: var(--primary-color);
   font-size: 16px;
   line-height: 1.75;
}

.courses-list .course-item .desc {
   margin-top: 6px;
   color: #5f5b53;
   font-size: 1.4rem;
   line-height: 1.85.714;
}

.courses-list .course-item .foot {
   margin-top: 12px;
}

.course-item .foot .price {
   color: #171100;
   font-size: 1.8rem;
   font-weight: 600;
   line-height: 1.66667;
}

.course-item .foot .book-btn {
   border: none;
}

.course-item .foot .book-btn:hover {
   color: #fff;
   background: var(--primary-color);
}

/* Feedback */
.feedback {
   margin-top: 135px;
   padding: 96px 0;
   background: #2e2100;
}

.feedback .feedback-list {
   display: flex;
   overflow: hidden;
}

.feedback .feedback-item {
   display: flex;
   width: 100%;
   justify-content: space-between;
   flex-shrink: 0;
}

.feedback-item .avatar {
   height: 72px;
   width: 72px;
   object-fit: contain;
   border-radius: 50%;
}

.feedback-item .info .title {
   color: #f7f7f7;
   font-family: Sen;
   font-size: 2.4rem;
   font-weight: 700;
   line-height: 1.41667;
   margin: 18px 0 4px;
}

.feedback-item .info .desc {
   color: #bfbcb2;
   font-size: 1.4rem;
   line-height: 1.85714;
}

.feedback-item .info .dots {
   display: flex;
   margin-top: 28px;
   gap: 6px;
}

.feedback-item .info .dot {
   width: 9px;
   height: 9px;
   border-radius: 50%;
   background: #634700;
}

.feedback-item .info .dot:hover {
   background: var(--primary-color);
   cursor: pointer;
}

.feedback-item .info .dot.active {
   background: var(--primary-color);
}

.feedback-item .content {
   width: 66%;
}

.feedback-item .content blockquote {
   margin-left: 30px;
   color: #fff;
   font-size: 2.6rem;
   font-style: italic;
   line-height: 1.53846;
}

/* Feature */
.feature {
   margin-top: 135px;
   padding: 65px 0;
}

.feature .body {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.feature .images {
   gap: 0 30px;
   display: flex;
}

.feature .images img {
   width: 270px;
   height: 404px;
   object-fit: cover;
   border-radius: 16px;
}

.feature .images .lower {
   margin-top: 30px;
}

.feature .content {
   width: 41%;
}

.feature .content .desc {
   margin-top: 16px;
   color: #5f5b53;
   font-size: 1.6rem;
   line-height: 1.75;
}
.feature .content .cta-btn {
   margin-top: 32px;
   min-width: 137px;
   background: var(--primary-color);
   color: #fff;
}
